*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/*Font and landing page background*/
body{
    min-height: 80vh;
    width: auto;
    background-image: url('./imgs/outdoors.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}



/*code for smooth scrolling and hiding the scrollbar for multiple browsers*/

/*allows for smooth scrolling and hides scrollbar for firefox*/
html{
    scroll-behavior: smooth;
    scrollbar-width: none; /* Firefox */
}

/*hides scrollbars for chrome, edge, ie, but not firefox*/
.disable-scrollbars::-webkit-scrollbar {
    background: transparent; /* Chrome/Safari/Webkit */
    width: 0px;
  }
      
.disable-scrollbars {
    -ms-overflow-style: none;  /* IE 10+ */
}
/* end of scrollbar styling */


/*Navbar*/
.navbar{
    padding: 10px 25px;
    margin-left: 5px;
}

/* .navbar-text, .navbar-brand{
    padding: 0;
}

.navbar-text{
    padding: 10px 0;
} */

.navbar-brand{
    padding-bottom: 20px;
}

.shopping-cart{
    position: relative;
    top: -5px;
    color: white;
}

.navbar-text{
    color: white;
}

/* use code below to change color of bootstrap default hamburger icon*/
.navbar-toggler-icon{
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

/*Navbar hover*/
.shopping-cart:hover, .navbar-text:hover{
    color:rgb(101, 40, 40);
}




/*Landing page*/
.landing-page{
    width:100%;
    height: auto;
}

.landing-page-header{
    text-align: center;
    margin-top: 20px;
}




/*Carousel with travel options*/

.carousel-caption{
    color: rgb(39, 39, 39);
}

/* .carousel-item{
    height: 32rem;
} */

.carousel-item img{
    max-width: 75%;
    height: auto;
    margin: 0 12.5%;
    border: medium solid white;
    border-radius: 50%;
    z-index: -1;
}

